body{
  background-image: url("download.jpeg");
  background-repeat:no-repeat;
  background-size: cover;
  margin-left: 50px solid white;
  margin-right:50px solid white;
  padding-left: 50px;
  padding-right: 50px;
  border-right: 50px solid white;
  border-left: 50px solid white;
  align-content: center;
  font-size: xx-large;
  color:white;
  display: flex;
  overflow:auto;
}
.overlay{
  justify-content: center;
}
nav>ul{
  /*float: right;*/
  justify-content: right;positon: relative;
  left:80%;
}
nav>ul>li{
  display: inline-block;
  padding: 10px lime;
  border:3px solid yellow;
}

nav>ul>li>a{
  color:pink;
  text-decoration: none;
}
nav>ul>li>a:hover{
  background-color: lime;
}

.banner{
  position: relative;
  left: 46%;
  width: auto;
  height: 100%;
}

h1{
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

h2{
  text-align: center;
  font-style: italic;
  color: red;
}

h2>a{
  text-decoration-line: none;:
}
h2>a:hover{
  box-shadow: 5px;
  background-color: coral;
}
p>a{
  text-decoration-line: none;
}
.email{
  position:relative;
  left: 49%;
  widht:auto;
  height:100%;
}

.form{

}
